@use '_variables'; 

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 1.125rem 2.375rem;
  font-family: var(--ffMontserrat);
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 10px;
  border: solid 0.125rem var(--mainColor);
  color: #fff;
  transition: all 0.3s ease-in-out;

  @media (max-width: 767px) {
    font-size: 16px;
    padding: .75rem 1.5rem;
  }

  svg {
    flex: 0 0 2rem;
    max-width: 2rem;
    transition: all 0.3s ease-in-out;
  }

  &-isvideo {
    white-space: nowrap;

    @media (max-width: 767px) {
      font-size: 16px;
      padding: .75rem 1.5rem;
    }
  }

  &-primary,
  &-secondary {
    background: linear-gradient(90deg, #66CB01 0%, #1E95D5 50%, #1E95D5 50%, #66CB01 100%);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #fff;
    border: 0;
    transition: background-position 0.4s ease;

    &:hover {
      background-position: 100% 0;

      svg {
        fill: #fff;
      }
    }
  }
}