:root {
  --ffFiraSans: 'Fira Sans', sans-serif;
  --ffEurope: 'europe', sans-serif;
  --ffMontserrat: 'Montserrat', sans-serif;
  --mainColor: #2C2C2C;
  --linkMenuColor: #353535;
  --headTextColor: #070D38;
  --textColor: #000;
  --bgLight: #fff;
  --orangeColor: #66cb01;
}